# Compiled python
*.pyc
*.pyd

# Editor temporaries
*.swn
*.swo
*.swp
*~

# NFS handle files
**/.nfs*

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Visual Studio Code files
.vs
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings_recommended.json

# Output files
./output
./Output

# test files
./pytest_cache
reference

# vggish checkpoints
models/vggish/hub/checkpoints/vggish-10086976.pth
models/vggish/hub/checkpoints/vggish_pca_params-970ea276.pth

# extracted features
tmp/
